{% extends 'student/base.html' %}
{% load static %}
{% block content %}

    <div class="pagetitle">
        <h1>Trainer Details</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'student_home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'purchase_courses' %}">Purchase Course</a></li>
                <li class="breadcrumb-item active">Trainer Details</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    {% if user.is_authenticated %}
    <div class="card p-2 mx-auto my-auto" style="width: 20rem;">
        <div class="class-body">
            <p class="card-text">First Name: {{trainer.first_name}}</p>
            <p class="card-text">Last Name: {{trainer.last_name}}</p>
            <p class="card-text">Rating:</p>
            <div class="progress mb-2">
                <div class="progress-bar progress-bar-striped " role="progressbar" id="progressbar" data-progress = "{{rating.score}}"
                     aria-valuenow="{{rating.score}}" 
                     aria-valuemin="0" 
                     aria-valuemax="5">
                  {{ trainer_rating.score}}
                </div>
                <script>
                    const rating = parseInt(document.getElementById("progressbar").getAttribute('data-progress'));
                    var progress = 0
                    if (!isNaN(rating)){
                        progress = (rating) * 20;
                        console.log(progress)
                    }
                    else{
                        console.error('Invalid Progress Value')
                    }
                    const myDiv = document.getElementById("progressbar");
                    myDiv.style.width = progress + "%";
                </script>
            </div>
            <p class="card-text">Phone: {{contact.phone}}</p>
            <p class="card-text">Email: {{trainer.email}}</p>
        </div>
    </div>
    {% endif %}

{% endblock %}
