{% extends 'manager/base.html' %}
{% load static %}
{% block content %}
<div class="pagetitle">
    <h1>Feedback</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'manager_home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'course_details' feedback.course.id %}">{{feedback.course.course_name}} Details</a></li>
            <li class="breadcrumb-item"><a href="{% url 'mng_course_student_list' feedback.course.id %}">{{feedback.course.course_name}} Students</a></li>
            <li class="breadcrumb-item active">{{feedback.course.course_name}} feedback</li>
        </ol>
    </nav>
  </div>
<div class="card mx-auto">
    <div class="card-body mt-5">
        {% for msg in messages %}
        {{msg}}
        {% endfor %}
        {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="first_name" class="form-label">Feedback</label>
                <input type="text" class="form-control" name="feedback" id ="feedback" value="{{feedback.content}}">
            </div>
            <div class="mb-3">
        </form>
        {% endif %}
    </div> 
</div>
{% endblock %}